<div class="container_scroll">
    {{>header-nav-student}}
    <div class="header__bg"></div>
    <div class="container__page favourites__container">
        <h1 class="title favourites__title">Favorieten</h1>
        <div class="grid-wrapper">
            {{#each favs}}
            <div class="kot">
                <div class="kot__header">
                    <h2 class="kot__name">{{this.name}}</h2>
                    <h3 class="kot__address">{{this.address}}</h3>
                </div>
                <div class="kot__body">
                    <p class="kot__city">{{this.city}}</p>
                    <p class="kot__status">{{this.status}}</p>
                    <p class="kot__warranty"><span>Waarborg</span>€{{this.warranty}}</p>
                    <p class="kot__floor">{{this.floor}}</p>
                    <p class="kot__has-toilet">{{this.hasToilet}}</p>
                    <p class="kot__has-kitchen"> {{this.hasKitchen}}</p>
                    <p class="kot__has-shower"> {{this.hasShower}}</p>
                    <p class="kot__has-furniture"> {{this.hasFurniture}}</p>
                    <p class="kot__total-price"><span>Totale prijs</span>€{{this.totalPrice}}/m</p>
                    <p class="kot__type">{{this.type}}</p>
                    <p class="kot__surface">{{this.surface}} m²</p>
                    {{!-- <button class="btn kot__btn__more-details">
                        <ion-icon name="add-circle" size="large"></ion-icon>
                    </button> --}}
                    <button class="btn kot__btn__remove-from-favorites">
                        <ion-icon name="close-circle" size="large"></ion-icon>
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        {{#unless favs}}
        <h2 class="title">Je hebt nog geen favorieten toegevoegd.</h2>
        <a href="/zoek-kot" data-navigo>Kot zoeken?</a>
        {{/unless}}
    </div>
</div>
</div>