<div class="container">
  {{>header-nav}}
  <div class="container__page zoek-kot__container">
    <div class="zoek-kot__options">
      <div class="zoek-kot__search-switch">
      </div>
      <div class="zoek-kot__search">
        <input class="search-box" type="text">
        <span class="search-toggle">
          <ion-icon class="search-toggle__icon icon" name="search" size="large"></ion-icon>
        </span>
      </div>
      <div class="zoek-kot__filter">
        <select class="zoek-kot__filter__dropdown dropdown" name="kot-filter">
          <option>Sort?</option>
          <option value="filter-price">By price (ascending)</option>
          <option value="filter-price">By price (descending)</option>
          <option value="filter-type">By type</option>
          <option value="filter-surface">By surface (ascending)</option>
          <option value="filter-surface">By surface (descending)</option>
          <option value="distance">By distance</option>
        </select>
      </div>
    </div>
    {{#each koten}}
    <div class="kot">
      <div class="kot__header">
        <h1 class="kot__name">{{this.name}}</h1>
        <h1 class="kot__address">{{this.address}}</h1>
        <button class="btn kot__btn__add-to-favorites">
          <ion-icon name="star" size="large"></ion-icon>
        </button>
      </div>
      <p class="kot__city">{{this.city}}</p>
      <p class="kot__status">{{this.status}}</p>
      <p class="kot__warranty"><span>Waarborg</span>€{{this.warranty}}</span>
        <p class="kot__floor">{{this.floor}}</p>
        <p class="kot__has-toilet">{{this.hasToilet}}</p>
        <p class="kot__has-kitchen"> {{this.hasKitchen}}</p>
        <p class="kot__has-shower"> {{this.hasShower}}</p>
        <p class="kot__has-furniture"> {{this.hasFurniture}}</p>
        <p class="kot__total-price"><span>Totale prijs</span>€{{this.totalPrice}}/m</p>
        <p class="kot__type">{{this.type}}</p>
        <p class="kot__surface">{{this.surface}} m²</p>
        <button class="btn kot__btn__more-details">
          <ion-icon name="add-circle" size="large"></ion-icon>
        </button>
        <div class="kot__details">
          <button class="btn kot__btn__less-details">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </button>
          <h1 class="kot__details__title">
            Kot details
          </h1>
        </div>
    </div>
    {{/each}}
  </div>
</div>
<div class="body">
  Go to <a href="/home" data-navigo>Home page</a>
</div>
</div>